openapi: 3.0.3
info:
  title: Wootric Declines Metrics API
  description: 'REST API for managing end users, survey responses, declines, settings, metrics, segments, and email survey distribution across NPS, CSAT, and CES programs. Wootric (now part of InMoment) supports multi-region deployments across US, EU, and AU environments.

    '
  version: 1.0.0
  contact:
    name: Wootric API Documentation
    url: https://docs.wootric.com/api/
servers:
- url: https://api.wootric.com
  description: US production endpoint
- url: https://api.eu.wootric.com
  description: EU production endpoint
- url: https://api.au.wootric.com
  description: AU production endpoint
security:
- BearerAuth: []
tags:
- name: Metrics
  description: Retrieve NPS summary metrics
paths:
  /v1/nps_summary:
    get:
      operationId: getNpsSummary
      summary: Get NPS summary metrics
      tags:
      - Metrics
      parameters:
      - name: date[start]
        in: query
        description: Start date for the summary period (YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: date[end]
        in: query
        description: End date for the summary period (YYYY-MM-DD)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: NPS summary metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpsSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        status:
          type: integer
          description: HTTP status code
    NpsSummary:
      type: object
      properties:
        nps:
          type: number
          description: Net Promoter Score
        responses:
          type: integer
          description: Total number of responses
        detractors:
          type: integer
          description: Count of detractor responses (scores 0-6)
        passives:
          type: integer
          description: Count of passive responses (scores 7-8)
        promoters:
          type: integer
          description: Count of promoter responses (scores 9-10)
        response_rate:
          type: number
          description: Overall response rate percentage
        email_response_rate:
          type: number
          description: Email-specific response rate percentage
  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 Bearer token. Obtain via password, client_credentials, or refresh_token grant. Tokens expire after 2 hours.

        '
